<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/coba" method="post">
        <label for="nama">Nama : </label><br>
        <input type="text" id="nama" name="nama"><br>
        <label for="nim">NIM : </label><br>
        <input type="text" id="nim" name="nim"><br><br>
        <input type="submit" value="submit">
    </form>

    <p>Nama : {{mahasiswa.nama}}</p>
    <p>Nim  : {{mahasiswa.nim}}</p>
</body>
</html>